@import './utils/fonts';
@import './utils/variables';
@import './base';
@import './utils/utils';

@import './componets/links';
@import './componets/button';
@import './componets/carousel-section';

@import './layout/about-section';
@import './layout/contact';
@import './layout/footer';
@import './layout/forms';
@import './layout/header-section';
@import './layout/hero-section';
@import './layout/modal';
@import './layout/procedures-section';
@import './layout/section-title';
@import './layout/why-section';

address {
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 24px;
}

.section {
  padding: 48px;
}
