.button {
  margin-bottom: 16px;
  color: var(--color-brand);
  padding: 16px 32px;
  font-weight: 600;
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
  border-radius: 32px;
  cursor: pointer;
}

.button:hover {
  color: var(--color-primary-dark);
  background-color: transparent;
}
