.form-field {
  position: relative;
  margin-bottom: 24px;
}

.form-label {
  position: absolute;
  top: 16px;
  left: 32px;
}

.form-input {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  width: 100%;
  max-width: 310px;
  font-size: 13px;
  border: 2px solid var(--color-secondary-light);
  border-radius: 32px;
  background-color: transparent;
}

.form-input:focus {
  background-color: var(--color-secondary-light);
  border-color: var(--color-secondary-light);
  outline: none;
}

.form-input::placeholder {
  color: var(--color-brand);
  font-size: 13px;
}

.form-button {
  display: block;
  margin: 0 auto 8px;
}

.form-button:hover {
  color: var(--color-brand);
}

.form-terms {
  margin: 0 auto;
  max-width: 213px;
  color: var(--color-secondary-light);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.form-terms-link {
  color: var(--color-secondary-light);
}
